@font-face {
   font-display: swap;
   font-family: 'PT Sans Bold';
   src: url('PTSans-Bold.eot');
   src: url('PTSans-Bold.eot?#iefix') format('embedded-opentype'),
   url('PTSans-Bold.woff') format('woff'),
   url('PTSans-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-display: swap;
   font-family: 'Roboto Condensed Bold';
   src: url('RobotoCondensed-Bold.eot');
   src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
   url('RobotoCondensed-Bold.woff') format('woff'),
   url('RobotoCondensed-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-display: swap;
   font-family: 'Roboto Medium';
   src: url('Roboto-Medium.eot');
   src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
   url('Roboto-Medium.woff') format('woff'),
   url('Roboto-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-display: swap;
   font-family: 'Roboto Condensed Light';
   src: url('RobotoCondensed-Light.eot');
   src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
   url('RobotoCondensed-Light.woff') format('woff'),
   url('RobotoCondensed-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-display: swap;
   font-family: 'Open Sans ExtraBold';
   src: url('OpenSans-ExtraBold.eot');
   src: url('OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
   url('OpenSans-ExtraBold.woff') format('woff'),
   url('OpenSans-ExtraBold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-display: swap;
   font-family: 'Open Sans Semibold';
   src: url('OpenSans-SemiBold.eot');
   src: url('OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
   url('OpenSans-SemiBold.woff') format('woff'),
   url('OpenSans-SemiBold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-display: swap;
   font-family: 'Myriad Pro Regular';
   src: url('MyriadPro-Regular.eot');
   src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
   url('MyriadPro-Regular.woff') format('woff'),
   url('MyriadPro-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}