.subscribe
   background-color: #312b2b
   &__form
      display: flex
      justify-content: space-between
      align-items: center
      padding: 15px 0
   &__label
      color: #cccccc
      font-size: 16px
      +roboto-medium
      letter-spacing: 0.64px
   &__item
      display: flex
      justify-content: flex-end
      border-radius: 3px
      overflow: hidden
   &__email
      width: 300px
      padding: 20px
      color: $primary
      font-size: 20px
      +myriad
      letter-spacing: 0.67px
   &__submit
      width: 65px
      background: $accent url('../../img/subscribe/button-icon.svg') no-repeat center
      border: none
      outline: none 
      cursor: pointer
      &:hover
         background-color: darken($accent, 10%)