@font-face {
   font-family: 'PT Sans Bold';
   src: url('../fonts/fonts/PTSans-Bold.eot');
   src: url('..fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
   url('..fonts/PTSans-Bold.woff') format('woff'),
   url('..fonts/PTSans-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed Bold';
   src: url('../fonts/RobotoCondensed-Bold.eot');
   src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
   url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Medium';
   src: url('../fonts/Roboto-Medium.eot');
   src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Roboto-Medium.woff') format('woff'),
   url('../fonts/Roboto-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed Light';
   src: url('../fonts/RobotoCondensed-Light.eot');
   src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
   url('../fonts/RobotoCondensed-Light.woff') format('woff'),
   url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed Regular';
   src: url('../fonts/RobotoCondensed-Regular.eot');
   src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
   url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans ExtraBold';
   src: url('../fonts/OpenSans-ExtraBold.eot');
   src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
   url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans Semibold';
   src: url('../fonts/OpenSans-SemiBold.eot');
   src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/OpenSans-SemiBold.woff') format('woff'),
   url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans Regular';
   src: url('../fonts/OpenSans-Regular.eot');
   src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/OpenSans-Regular.woff') format('woff'),
   url('../fonts/OpenSans-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Myriad Pro Regular';
   src: url('../fonts/MyriadPro-Regular.eot');
   src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/MyriadPro-Regular.woff') format('woff'),
   url('../fonts/MyriadPro-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}


@mixin pt-sans {
   font-family: 'PT Sans Bold', sans-serif;
}

@mixin roboto-light {
   font-family: 'Roboto Condensed Light', sans-serif;
}

@mixin roboto-regular {
   font-family: 'Roboto Condensed Regular', sans-serif;
}

@mixin roboto-medium {
   font-family: 'Roboto Medium', sans-serif;
}

@mixin roboto-bold {
   font-family: 'Roboto Condensed Bold', sans-serif;
}

@mixin os-semibold {
   font-family: 'Open Sans Semibold', sans-serif;
}

@mixin os-extrabold {
   font-family: 'Open Sans ExtraBold', sans-serif;
}

@mixin os-regular {
   font-family: 'Open Sans Regular', sans-serif;
}

@mixin myriad {
   font-family: 'Myriad Pro Regular', sans-serif;
}