.about
    box-sizing: border-box
    &__content
        display: flex
        justify-content: center
    &__block
        display: flex
        flex-direction: column
        justify-content: flex-start
        flex-basis: 45%
    &__items
        margin-right: 15px
    &__item
        max-width: 100%
        margin-bottom: 10px
        padding: 20px
        border: 1px solid rgba(138, 138, 138, 0.5)
        background-color: $primary
        color: #fff
    &__skills
        margin-left: 15px
    &__skill
        position: relative
        max-width: 100%
        margin-bottom: 30px
        padding: 8px 20px
        background: linear-gradient(to right, $accent 50%, #f2f2f2 50%, #f2f2f2 100%)
        background-size: contain
        border: 1px solid #d7d7d7
        border-radius: 3px
        color: #ffffff
        font-size: 16px
        +roboto-regular
        &_1
            background: linear-gradient(to right, $accent 80%, #f2f2f2 80%, #f2f2f2 100%)
        &_2
            background: linear-gradient(to right, $accent 60%, #f2f2f2 60%, #f2f2f2 100%)
        &_3
            background: linear-gradient(to right, $accent 75%, #f2f2f2 75%, #f2f2f2 100%)
        &_4
            background: linear-gradient(to right, $accent 90%, #f2f2f2 90%, #f2f2f2 100%)
        &_5
            background: linear-gradient(to right, $accent 60%, #f2f2f2 60%, #f2f2f2 100%)
        &_6
            background: linear-gradient(to right, $accent 85%, #f2f2f2 85%, #f2f2f2 100%)
       

    

    